@model IEnumerable<Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Card List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                CardSet
            </th>
            <th>
                CardType
            </th>
            <th>
                CardColor
            </th>
            <th>
                CardCost
            </th>
            <th>
                CardStrength
            </th>
            <th>
                CardName
            </th>
            <th>
                CardAbilities
            </th>
            <th>
                CardStackAbilities
            </th>
            <th>
                CardImage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                Naruto Boruto
            </td>
            <td>
                Action
            </td>
            <td>
                Green
            </td>
            <td>
                10
            </td>
            <td>
                12
            </td>
            <td>
                Kakashi Hatake
            </td>
            <td>
                Guardian Stack (+3)
            </td>
            <td>
                
            </td>
            <td>
                <img src="~/Images/Chrono Clash Card Images/Naruto Set 1/NB01-09-B.jpg" 
                     alt="Kakashi"
             style="width:136px;height:185px;"
             align="right"/>
            </td>
        </tr>

    </tbody>
    @*<tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CardSet
                    </td>
                    <td>
                        @item.CardType
                    </td>
                    <td>
                        @item.CardImage
                    </td>
                    <td>
                        @item.CardColor
                    </td>
                    <td>
                        @item.CardCost
                    </td>
                    <td>
                        @item.CardStrength
                    </td>
                    <td>
                        @item.CardName
                    </td>
                    <td>
                        @item.CardAbilities
                    </td>
                    <td>
                        @item.CardStackAbilities
                    </td>

                </tr>
            }
        </tbody>*@
</table>
