@model PaginatedList<Card>

@{
    ViewData["Title"] = "Card List";
}


<h1>Card List</h1>

<form asp-action="Index" method="get">
    <div class="form-actions">

        <input type="text" placeholder="Enter Card Name" name="cardName" value="@ViewData["CardNameFilter"]" />
        <input type="text" placeholder="Enter Card Ability" name="cardAbility" value="@ViewData["CardAbilityFilter"]" />
        <div class="btn-group btn-group-toggle just" data-toggle="buttons">

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardColor"  autocomplete="off" value="Blue" /> Blue
            </label>

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardColor"  autocomplete="off" value="Green" /> Green
            </label>

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardColor"  autocomplete="off" value="Red" /> Red
            </label>

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardColor"  autocomplete="off" value="Purple" /> Purple
            </label>
        </div>

        <div class="btn-group btn-group-toggle just" data-toggle="buttons">

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardSet"  autocomplete="off" value="NB" /> Naruto
            </label>

            <label class="btn btn-secondary w-100">
                <input type="radio" name="CardSet"  autocomplete="off" value="GZ" /> Godzilla
            </label>
        </div>

        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-action="Index">Reset Filters</a>

    </div>
</form>


<div class="row">
    @foreach (var item in Model)
    {
    <img src="https://chronocardimages.blob.core.windows.net/chronocardimages/@item.CardImage"
         alt="@item.CardName"
         style="width:24%;height:24%" />
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<footer>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-cardName="@ViewData["CardNameFilter"]"
       asp-route-cardAbility="@ViewData["CardAbilityFilter"]"
       asp-route-cardColor="@ViewData["CardColorFilter"]"
       asp-route-cardSet="@ViewData["CardSetFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-cardName="@ViewData["CardNameFilter"]"
       asp-route-cardAbility="@ViewData["CardAbilityFilter"]"
       asp-route-cardColor="@ViewData["CardColorFilter"]"
       asp-route-cardSet="@ViewData["CardSetFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</footer>


