@model PaginatedList<Card>

@{
    ViewData["Title"] = "Card List";
}

<h1>Card List</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Card Name: <input type="text" name="cardName" value="@ViewData["CardNameFilter"]" />
            Card Ability: <input type="text" name="cardAbility" value="@ViewData["CardAbilityFilter"]" />
            Blue: <input type="radio" name="cardColor" value="Blue" />
            Green: <input type="radio" name="cardColor" value="Green" />
            Red: <input type="radio" name="cardColor" value="Red" />
            Purple: <input type="radio" name="cardColor" value="Purple" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Reset Filters</a>
        </p>
    </div>
</form>


<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Images/Chrono Clash Card Images/@item.CardImage"
                     alt="@item.CardName"
                     style="width:272px;height:370px;" />

            </td>
        </tr>
    }
</tbody>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<footer>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-cardName="@ViewData["CardNameFilter"]"
       asp-route-cardAbility="@ViewData["CardAbilityFilter"]"
       asp-route-cardColor="@ViewData["CardColorFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-cardName="@ViewData["CardNameFilter"]"
       asp-route-cardAbility="@ViewData["CardAbilityFilter"]"
       asp-route-cardColor="@ViewData["CardColorFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</footer>


