@model PaginatedList<Card>

@{
    ViewData["Title"] = "Card List";
}


<h1>Card List</h1>

<form asp-action="Index" method="get">
    <div class="form-actions justify-content-center row mr-2">

        <input class="mr-2" type="text" placeholder="Enter Card Name" name="cardName" value="@ViewData["CardNameFilter"]" />
        <input class="mr-2" type="text" placeholder="Enter Card Ability" name="cardAbility" value="@ViewData["CardAbilityFilter"]" />
        <div class="btn-group btn-group-toggle just mr-2" data-toggle="buttons">

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardColor" id="optionBlue" autocomplete="off" value="Blue" /> Blue
            </label>

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardColor" id="optionBlue" autocomplete="off" value="Green" /> Green
            </label>

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardColor" id="optionBlue" autocomplete="off" value="Red" /> Red
            </label>

            <label class="btn btn-secondary w-100">
                <input type="radio" name="cardColor" id="optionBlue" autocomplete="off" value="Purple" /> Purple
            </label>
        </div>

            <select name="cardSet" id="cardSet" class="form-control mr-1" style="width:auto">
                <option name="cardSet" value="" selected>All Sets</option>
                <optgroup label="Official Sets">
                    <option name="cardSet" value="NB">Naruto</option>
                    <option name="cardSet" value="GZ">Godzilla</option>
                    <option name="cardSet" value="EV">Evangelion</option>
                </optgroup>
                <optgroup label="Fan Sets">
                </optgroup>
            </select>


            <input type="submit" value="Search" class="btn btn-primary mr-1" />
            <a asp-action="Index" class="btn  btn-warning mr-1">Reset Filters</a>

    </div>
</form>


<div class="row">
    @foreach (var item in Model)
    {
    <img src="https://chronocardimages.blob.core.windows.net/chronocardimages/@item.CardImage"
         alt="@item.CardName"
         style="width:24%;height:24%" />
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<footer>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-cardName="@ViewData["CardNameFilter"]"
       asp-route-cardAbility="@ViewData["CardAbilityFilter"]"
       asp-route-cardColor="@ViewData["CardColorFilter"]"
       asp-route-cardSet="@ViewData["CardSetFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-cardName="@ViewData["CardNameFilter"]"
       asp-route-cardAbility="@ViewData["CardAbilityFilter"]"
       asp-route-cardColor="@ViewData["CardColorFilter"]"
       asp-route-cardSet="@ViewData["CardSetFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</footer>


