@model IEnumerable<Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Card List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Card Set
            </th>
            <th>
                Card Type
            </th>
            <th>
                Card Color
            </th>
            <th>
                Card Cost
            </th>
            <th>
                Card Strength
            </th>
            <th>
                Card Name
            </th>
            @*<th>
                Card Abilities
            </th>
            <th>
                Card Stack Abilities
            </th>*@
            <th>
                Card Image
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @item.CardSet
            </td>
            <td>
                @item.CardType
            </td>
            <td>
                @item.CardColor
            </td>
            <td>
                @item.CardCost
            </td>
            <td>
                @item.CardStrength
            </td>
            <td>
                @item.CardName
            </td>
            @*<td>
                @item.CardAbilities
            </td>
            <td>
                @item.CardStackAbilities
            </td>*@
            <td>
                <img src="~/Images/Chrono Clash Card Images/Naruto Set 1/@item.CardImage"
             alt="@item.CardName"
             style="width:136px;height:185px;"/>
            </td>
        </tr>
            }
     </tbody>
</table>
