@model IEnumerable<Deck>



    <div class="text-center">
        <h1 class="display-4">@Model.First().DeckName</h1>
        <a class="btn btn-danger" asp-action="DeleteDeck" asp-route-deckId="@Model.First().DeckId">Delete Deck</a>
    </div>
    <h2>Main Deck:</h2>
    <div class="row">
        @if (Model.First().NumberOfMainDeck > 0)
        {
        @foreach (KeyValuePair<string, int> entryMain in CurDeck.GetCardDictionary(Model.First().MainDeckCards))
        {
            string cardImage = entryMain.Key + ".jpg";
            <img src="~/Images/Chrono Clash Card Images/@cardImage"
                 alt="@entryMain.Key"
                 style="width:21%;height:21%" />
            <h3 class="card-title text-uppercase">X @entryMain.Value</h3>
        }
        }

    </div>


<h2>Extra Deck:</h2>
<div class="row">
    @if (Model.First().numberOfExtraDeck > 0)
    {
        @foreach (KeyValuePair<string, int> entryExtra in CurDeck.GetCardDictionary(Model.First().ExtraDeckCards))
        {
            string cardImage = entryExtra.Key + ".jpg";
            Console.WriteLine(cardImage);

            <img src="~/Images/Chrono Clash Card Images/@cardImage"
                 alt="@entryExtra.Key"
                 style="width:24%;height:24%" />
        }
    }

    </div>

